# Dependencias
node_modules/
.pnp
.pnp.js

# Variables de entorno
.env
.env.local
.env.*.local

# Build
dist/
dist-ssr/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
